@import "../index.scss";

.root {
}

// .container {
//   margin-top: 3rem;
//   padding: 1rem;
// }
  margin-top: 3rem;
  padding: 1rem;

  p {
    margin-bottom: 1rem;
    // letter-spacing: 0.04rem;
    text-align: justify;
    text-justify: auto;
  }
}
