@import "../index.scss";
.set {
  height: 100%;

  input {
    width: 7ch;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 0.4rem;

    .twoCells {
      grid-column-end: span 2;
      display: flex;
    }

    div {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    button {
      width: fit-content;
    }

    .title {
      display: flex;
      justify-content: start;
    }
  }

  .rando {
    margin-top: 1.5rem;
    text-align: center;
    h1 {
      margin-top: 1.5rem;
    }
  }
}

.rowSpacer {
  grid-column-end: span 4;
  height: 20px;
}
.renderItems {
  padding: 0.3rem;
  margin-bottom: 0.6rem;
  height: 15rem;
  overflow: auto;
  text-align: justify;
  border: 1px solid;
}

@include breakpoint(mobile, max) {
  .set {
    padding: 0.3rem;
  }

  .container {
    padding: 1rem;
  }
}
