@import "../index.scss";
.set {
  height: 100%;
  padding-left: 0.4rem;
  padding-right: 0.4rem;

  input {
    width: 8ch;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1.5fr;
    row-gap: 2rem;

    margin-top: 1rem;

    button {
      display: block;
      width: fit-content;
    }

    h2 {
      border-bottom: solid 1px;
      width: fit-content;
    }

    h3 {
      // padding-left: 0.5rem;
    }

    .title {
      display: flex;
      align-items: center;
    }

    .child {
      > * {
        margin-bottom: 0.3rem;
      }
    }

    .sub-grid {
      display: grid;
      grid-template-columns: 1fr 1fr;

      .row {
        grid-column-start: 1;
        grid-column-end: span 2;
      }
      .cell {
        grid-column-end: span 1;
      }
    }
  }

  .rando {
    // background-color: green;
    margin-top: 3rem;
    text-align: center;
  }
}
.renderItems {
  padding: 0.5rem;
  height: 15rem;
  overflow: auto;
  text-align: justify;
  border: 1px solid;
}

// .rando {
//   // background-color: blue;
//   align-items: center;
//   * {
//     width: fit-content;
//     margin: 0;
//   }
//   .column {
//     align-items: center;
//   }
// }
