@import "../index.scss";
.set {
  height: 100%;
  padding-left: 0.4rem;
  padding-right: 0.4rem;

  .container-a {
    display: grid;
    grid-template-columns: 30% 1fr;

    .left {
      grid-column-start: 1;
      grid-column-end: 2;
      background-color: blue;
    }
  }
}
.renderItems {
  padding: 0.5rem;
  height: 10rem;
  overflow: auto;
  text-align: justify;
  border: 1px solid;
}

// .rando {
//   // background-color: blue;
//   align-items: center;
//   * {
//     width: fit-content;
//     margin: 0;
//   }
//   .column {
//     align-items: center;
//   }
// }
