@import "../index.scss";

@include breakpoint(mobile, max) {
}
.topPanel {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  background-color: $panel-color;
}

input {
  width: 12ch;
}
