@import "../index.scss";

@include breakpoint(mobile, max) {
  // .topPanel {
  //   display: flex;
  //   align-items: center;

  //   padding: 0.8rem;

  //   background-color: $panel-color;
  // }

  // .box {
  //   flex: 1;
  //   display: flex;
  //   justify-content: center;

  //   &:first-child > button {
  //     margin-right: auto;
  //   }
  //   &:last-child > h2 {
  //     margin-left: auto;
  //   }
  // }
  .topPanel {
    display: flex;
    align-items: center;

    background-color: $panel-color;
  }
}
