@import "../index.scss";

@include breakpoint(mobile, max) {
  .topPanel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 0.8rem;

    background-color: $panel-color;
  }
}
